<div class="container">
  <h2>Add New Product</h2>
  <form action="/products/create">
    <div class="form-group">
      <label for="email">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter product name" name="name">
    </div>
    <div class="form-group">
      <label for="email">Description:</label>
      <input type="text" class="form-control" id="description" placeholder="Enter product description" name="description">
    </div>
    <div class="form-group">
      <label for="email">Name:</label>
      <input type="text" class="form-control" id="price" placeholder="Enter product price" name="price">
    </div>
    <button type="submit" class="btn btn-default btn-primary">Submit</button>
  </form>
</div>
